absl-py==0.12.0
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
akro==0.0.8
alembic==1.6.5
argon2-cffi==20.1.0
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==21.2.0
backcall==0.2.0
bleach==3.3.0
blessings==1.7
cached-property==1.5.2
cachetools==4.2.2
cairocffi==1.2.0
CairoSVG==2.5.2
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
chex==0.0.8
click==8.0.1
cliff==3.8.0
cloudpickle==1.6.0
cma==2.7.0
cmaes==0.8.2
cmd2==2.1.2
colorama==0.4.4
colorlog==6.4.1
cryptography==3.4.7
cssselect2==0.4.1
cycler==0.10.0
Cython==0.29.23
dataclasses==0.6
debugpy==1.3.0
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.4
distrax==0.0.2
dm-acme==0.2.1
dm-control==0.0.364896371
dm-env==1.4
dm-haiku==0.0.4
dm-launchpad-nightly==0.3.0.dev20210909
dm-reverb-nightly==0.5.0.dev20210909
dm-sonnet==2.0.0
dm-tree==0.1.6
dowel==0.0.3
drawSvg==1.8.1
EasyProcess==0.3
entrypoints==0.3
fasteners==0.16.3
filelock==3.0.12
flatbuffers==2.0
future==0.18.2
garage==2021.3.0
gast==0.4.0
glfw==2.1.0
google-api-core==1.30.0
google-auth==1.32.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
googleapis-common-protos==1.53.0
gpustat==0.6.0
greenlet==1.1.1
grpcio==1.40.0
gym==0.18.3
h5py==3.1.0
hiredis==2.0.0
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.4
importlib-metadata==3.10.1
importlib-resources==5.2.2
ipykernel==6.0.1
ipython==7.25.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jax==0.2.20
jaxlib==0.1.71
jedi==0.18.0
Jinja2==3.0.1
josepy==1.8.0
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
keras-nightly==2.7.0.dev2021090907
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
labmaze==1.0.4
libclang==11.1.0
lxml==4.6.3
Mako==1.1.5
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
mistune==0.8.4
mock==4.0.3
msgpack==1.0.2
mujoco-py==2.0.2.8
multidict==5.1.0
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
notebook==6.4.0
numpy==1.19.5
nvidia-ml-py3==7.352.0
oauthlib==3.1.1
opencensus==0.7.13
opencensus-context==0.1.2
opt-einsum==3.3.0
optax==0.0.9
optuna==2.9.1
packaging==20.9
pandas==1.3.0
pandocfilters==1.4.3
parso==0.8.2
pbr==5.6.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
portpicker==1.4.0
prettytable==2.1.0
prometheus-client==0.11.0
promise==2.3
prompt-toolkit==3.0.19
protobuf==3.17.3
psutil==5.8.0
ptyprocess==0.7.0
py-spy==0.3.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.8.2
pyglet==1.5.15
Pygments==2.9.0
PyOpenGL==3.1.5
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.8.2
pyRFC3339==1.1
pyrsistent==0.17.3
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2021.1
PyVirtualDisplay==2.2
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.1.0
ray==1.4.0
redis==3.5.3
requests==2.25.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rlax @ git+git://github.com/deepmind/rlax.git@aed308a11112dcf0800cf471a31bf880b784fc12
rsa==4.7.2
scikit-image==0.18.1
scipy==1.7.0
seaborn==0.11.1
Send2Trash==1.7.1
setproctitle==1.2.2
six==1.15.0
SQLAlchemy==1.4.23
stevedore==3.4.0
tabulate==0.8.9
tb-nightly==2.7.0a20210909
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.2
tensorflow==2.5.0
tensorflow-datasets==4.4.0
tensorflow-estimator==2.5.0
tensorflow-io-gcs-filesystem==0.20.0
tensorflow-metadata==1.2.0
tensorflow-probability==0.13.0
termcolor==1.1.0
terminado==0.10.1
testpath==0.5.0
tf-estimator-nightly==2.7.0.dev2021090908
tf-nightly==2.7.0.dev20210909
tfp-nightly==0.14.0.dev20210909
tifffile==2021.6.14
tinycss2==1.1.0
toolz==0.11.1
torch==1.7.1
torchvision==0.8.2
tornado==6.1
tqdm==4.61.2
traitlets==5.0.5
trfl==1.2.0
typing-extensions==3.7.4.3
urllib3==1.26.5
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
yapf==0.31.0
yarl==1.6.3
zipp==3.4.1
